<!DOCTYPE html>
<html>
  <head>
    <title>blue.Dot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="././public/javascript/bootstrap.js"></script>
  </head>
  <body>
  <% include ../header %>
  <div class="container">
    <div class="panel panel-default">
  <!-- Default panel contents -->
      <div class="panel-heading">You are logged in</div>
      <div class="panel-body">
        <p>Here some information</p>
      </div>
      <!-- User Info -->
      <ul class="list-group">
        <li class="list-group-item">Your name: <%= user.name %></li>
        <li class="list-group-item">Age:</li>
        <li class="list-group-item">Birth day</li>
        <li class="list-group-item">email:</li>
        <li class="list-group-item">user name:</li>
      </ul>
    </div>
  </div>
 </body>
</html>
