<!DOCTYPE html>
<html>
  <head>
    <title>blue.Dot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="././public/javascript/bootstrap.js"></script>
  </head>
  <body>
<% include ../header %>
  <div class="jumbotron vn-bd">
    <div class="container">
      <h1>blue.Dot</h1>
      <p>About About About About About About About About About About </p>
      <p>About About About About About About About About About About </p>
      <p>About About About About About About About About About About </p>
      <p>About About About About About About About About About About </p>
      <p><a class="btn btn-primary btn-lg" href="/details" role="button">Learn more</a></p>
    </div>
  </div>
 </body>
</html>
