<!DOCTYPE html>
<html>
  <head>
    <title>blue.Dot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="././public/javascript/bootstrap.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
     <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <a class="navbar-brand" href="#">blue.Dot</a>
          <ul class="nav navbar-nav">
            <li>
              <a href="../about-us/">About Us</a>
            </li>
            <li>
              <a href="../just-kidding/">Just Kidding</a>
            </li>
            <li>
              <a href="../join-the-force/">Join the Force</a>
            </li>
            <li>
              <a href="../what-we-like/">What do we like</a>
            </li>
          </ul>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="nav navbar-nav navbar-right">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <div class="jumbotron vn-bd">
    <div class="container">
      <h1>blue.Dot</h1>
      <p>About About About About About About About About About About </p>
      <p>About About About About About About About About About About </p>
      <p>About About About About About About About About About About </p>
      <p>About About About About About About About About About About </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
  </div>
 </body>
</html>
