<!DOCTYPE html>
<html>
  <head>
    <title>blue.Dot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="././public/javascript/bootstrap.js"></script>
  </head>
  <body>
     teste
 </body>
</html>
