<!DOCTYPE html>
<html lang="en">
  <head>
    <title>blue.Dot</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <script src="/stylesheets/bootstrap.js"></script>
  </head>
  <body>
    <div class="container">
     <form action="/home" method="post" class="form-signin" >
       <h2 class="form-signin-heading">Please sign in</h2>
       <label for="inputEmail" class="sr-only">User name</label>
       <input type="user" id="inputUser" name="user[name]" class="form-control" placeholder="User name" required="" autofocus="">
       <label for="inputPassword" class="sr-only">E-mail</label>
       <input type="email" id="inputEmail" name="user[email]" class="form-control" placeholder="Email adress" required="">
       <div class="checkbox">
         <label>
           <input type="checkbox" value="remember-me"> Remember me
         </label>
       </div>
       <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
     </form>
   </div>
 </body>
</html>
